body {
    background:rgb(31, 31, 31);

}

#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
     
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    scale: 1.12;
}

#textarea {
    position: absolute;
    width: 80%;
    height: 20.5vh;
    max-width: 407px;
    padding: 5px 5px;
    scale: 1.47;
    border-radius: 6px;
    border: 6px #0c9de9e6;
}

.keyboard {
    background-color: #4cb8f040;
    position: absolute;
    top: 309px;
    flex-direction: column;
    transform: scale(0.6);
    border-radius: 10px;
}

.select{
    position: relative;
    padding: 1px;
    background-color: #4cb8f040;
    font-size: 12px;
    border: 4px solid #111111ee;
    border-radius: 5px;
    bottom: 132px;
    
}

.col{
    position: absolute;
    top: 885px;
    padding: 331px 403px;
    background-color: #343434bd;
    border-radius: 10px;

}
.colo{
    position: absolute;
    color: #fff;
    left: 22px;
    top: 10px;
    font-family: sans-serif;
    
}

.Copyright{
    position: absolute;
    left: 296px;
    top: 650px;
}

/* btn */
.btn
{
position: relative;
display: inline-block;
width: 80px;
height: 80px;
padding: 8px 15px;
margin: 8px 4px;
border-radius: 10px;
background: linear-gradient(180deg,#282828,#202020);
box-shadow: inset -8px 0 8px rgba(0,0,0,0.25)
            inset -8px 0 8px rgba(0,0,0,0.75)
0 0 0 2px  rgba(0,0,0,0.75), 10px 20px 25px rgba(0,0,0,0.4);
overflow: hidden;
}
.btn::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg,#232323,#4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(225,225,225,0.25),10px 20px 25px rgba(0,0,0,0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
}

.btn .letter,
.delete .letterDelete,
.enter .letterenter,
.shift .lettershift,
.space .letterspace,
.translate .lettertranslate,
.youtubee .letteryoutubee,
.ggoogl .letterggoogl {
    transition: color 0.3s ease; /* Transition the color property over 0.3 seconds with ease-in-out timing function */
}

.delete
{
position: relative;
display: inline-block;
width: 95px;
bottom: 10px;
height: 80px;
top: 1px;
padding: 7px 27px;
margin: -4px 1px;
border-radius: 10px;
background: linear-gradient(180deg,#282828,#202020);
box-shadow: inset -8px 0 8px rgba(0,0,0,0.25)
            inset -8px 0 8px rgba(0,0,0,0.75)
0 0 0 2px  rgba(0,0,0,0.75), 10px 20px 25px rgba(0,0,0,0.4);
overflow: hidden;  
} 

.delete::before{
content: '';
position: absolute;
top: 3px;
left: 4px;
bottom: 14px;
right: 12px;
background: linear-gradient(90deg,#232323,#4a4a4a);
border-radius: 10px;
box-shadow: -10px -10px 10px rgba(225,225,225,0.25),10px 20px 25px rgba(0,0,0,0.15);
border-left: 1px solid #0004;
border-bottom: 1px solid #0004;
border-top: 1px solid #0009;      
}
.btn::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg,#232323,#4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(225,225,225,0.25),10px 20px 25px rgba(0,0,0,0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
}

.letter
{
position: relative;
color: #fff;
margin: -30px 22px;
right: 24px;
top: 0px;
font-family: normal;
font-size: 1.4em;
    
}
.letter1
{
position: relative;
color: #fff;
margin: -36px -8px;
padding: 18px 22px;
font-family: normal;
font-size: 1.9em;
    
}
.letterDelete{
position: inherit;
color: #fff;
top: 10px;
margin: -52px -12px;
padding: 22px 0px;
font-family: normal;
font-size: 1.6em;
}
.space{
    position: relative;
display: inline-block;
width: 551px;
bottom: 10px;
height: 70px;
top: 6px;
left: 5px;
padding: 7px 27px;
margin: -4px 1px;
border-radius: 10px;
background: linear-gradient(180deg,#282828,#202020);
box-shadow: inset -8px 0 8px rgba(0,0,0,0.25)
                inset -8px 0 8px rgba(0,0,0,0.75)
0 0 0 2px  rgba(0,0,0,0.75), 10px 20px 25px rgba(0,0,0,0.4);
overflow: hidden;
}
.space::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 12px;
    right: 12px;
    background: linear-gradient(90deg,#232323,#4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(225,225,225,0.25),10px 20px 25px rgba(0,0,0,0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;      
    }
.letterspace{
        position: inherit;
    color: #fff;
    top: 10px;
    margin: -52px -12px;
    padding: 22px 0px;
    font-family: normal;
    font-size: 1.6em;
}
.shift{
    position: relative;
    display: inline-block;
    width: 95px;
    bottom: 10px;
    height: 80px;
    top: 2px;
    padding: 7px 27px;
    margin: -4px 1px;
    border-radius: 10px;
    background: linear-gradient(180deg,#282828,#202020);
    box-shadow: inset -8px 0 8px rgba(0,0,0,0.25)
                    inset -8px 0 8px rgba(0,0,0,0.75)
    0 0 0 2px  rgba(0,0,0,0.75), 10px 20px 25px rgba(0,0,0,0.4);
    overflow: hidden;  
    } 
    .shift::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg,#232323,#4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(225,225,225,0.25),10px 20px 25px rgba(0,0,0,0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;      
    }
    
    .lettershift{
    position: inherit;
    color: #fff;
    top: 10px;
    margin: -52px -12px;
    padding: 22px 0px;
    font-family: normal;
    font-size: 1.6em;
    }
.enter{
    position: relative;
    display: inline-block;
    width: 95px;
    bottom: 10px;
    height: 80px;
        top: 3px;
        padding: 7px 27px;
        margin: -4px 1px;
        border-radius: 10px;
        background: linear-gradient(180deg,#282828,#202020);
        box-shadow: inset -8px 0 8px rgba(0,0,0,0.25)
                        inset -8px 0 8px rgba(0,0,0,0.75)
        0 0 0 2px  rgba(0,0,0,0.75), 10px 20px 25px rgba(0,0,0,0.4);
        overflow: hidden;  
} 
.enter::before{
        content: '';
        position: absolute;
        top: 3px;
        left: 4px;
        bottom: 12px;
        right: 12px;
        background: linear-gradient(90deg,#232323,#4a4a4a);
        border-radius: 10px;
        box-shadow: -10px -10px 10px rgba(225,225,225,0.25),10px 20px 25px rgba(0,0,0,0.15);
        border-left: 1px solid #0004;
        border-bottom: 1px solid #0004;
        border-top: 1px solid #0009;      
}
.letterenter{
            position: inherit;
            color: #fff;
            top: 10px;
            margin: -52px -12px;
            padding: 22px 0px;
            font-family: normal;
            font-size: 1.6em;
}


    .translate{
        position: relative;
    display: inline-block;
    width: 147px;
    bottom: 10px;
    height: 70px;
    top: 5px;
    left: 5px;
    padding: 7px 27px;
    margin: -4px 1px;
    border-radius: 10px;
    background: linear-gradient(180deg,#282828,#202020);
    box-shadow: inset -8px 0 8px rgba(0,0,0,0.25)
                    inset -8px 0 8px rgba(0,0,0,0.75)
    0 0 0 2px  rgba(0,0,0,0.75), 10px 20px 25px rgba(0,0,0,0.4);
    overflow: hidden;
    }
    .translate::before{
        content: '';
        position: absolute;
        top: 3px;
        left: 4px;
        bottom: 12px;
        right: 12px;
        background: linear-gradient(90deg,#232323,#4a4a4a);
        border-radius: 10px;
        box-shadow: -10px -10px 10px rgba(225,225,225,0.25),10px 20px 25px rgba(0,0,0,0.15);
        border-left: 1px solid #0004;
        border-bottom: 1px solid #0004;
        border-top: 1px solid #0009;      
        }
    .lettertranslate{
        position: inherit;
    color: #fff;
    top: 10px;
    margin: -52px -12px;
    padding: 22px 0px;
    font-family: normal;
    font-size: 1.6em;
    }

    .lettertranslate img{
        height: 20px;
        width: 21px;
        scale: 1.4;
        position: relative;
        top: 3px;
        right: 3px;
    }

    .youtubee{
        position: relative;
    display: inline-block;
    width: 147px;
    bottom: 10px;
    height: 70px;
    top: 5px;
    left: 5px;
    padding: 7px 27px;
    margin: -4px 1px;
    border-radius: 10px;
    background: linear-gradient(180deg,#282828,#202020);
    box-shadow: inset -8px 0 8px rgba(0,0,0,0.25)
                    inset -8px 0 8px rgba(0,0,0,0.75)
    0 0 0 2px  rgba(0,0,0,0.75), 10px 20px 25px rgba(0,0,0,0.4);
    overflow: hidden;
    }
    .youtubee::before{
        content: '';
        position: absolute;
        top: 3px;
        left: 4px;
        bottom: 12px;
        right: 12px;
        background: linear-gradient(90deg,#7f7676b8,#231f1f);
        border-radius: 10px;
        box-shadow: -10px -10px 10px rgba(225,225,225,0.25),10px 20px 25px rgba(0,0,0,0.15);
        border-left: 1px solid #0004;
        border-bottom: 1px solid #0004;
        border-top: 1px solid #0009;      
        }
    .letteryoutubee{
        position: inherit;
    color: #fff;
    top: 10px;
    margin: -52px -12px;
    padding: 22px 0px;
    font-family: normal;
    font-size: 1.6em;
    }

    .letteryoutubee img{
        height: 20px;
        width: 21px;
        scale: 1.4;
        position: relative;
        top: 3px;
        right: 11px;
    }
    
    .ggoogl{
        position: relative;
    display: inline-block;
    width: 147px;
    bottom: 10px;
    height: 70px;
    top: 5px;
    left: 5px;
    padding: 7px 27px;
    margin: -4px 1px;
    border-radius: 10px;
    background: linear-gradient(180deg,#282828,#202020);
    box-shadow: inset -8px 0 8px rgba(0,0,0,0.25)
                    inset -8px 0 8px rgba(0,0,0,0.75)
    0 0 0 2px  rgba(0,0,0,0.75), 10px 20px 25px rgba(0,0,0,0.4);
    overflow: hidden;
    }
    .ggoogl::before{
        content: '';
        position: absolute;
        top: 3px;
        left: 4px;
        bottom: 12px;
        right: 12px;
        background: linear-gradient(90deg,#7f7676b8,#231f1f);
        border-radius: 10px;
        box-shadow: -10px -10px 10px rgba(225,225,225,0.25),10px 20px 25px rgba(0,0,0,0.15);
        border-left: 1px solid #0004;
        border-bottom: 1px solid #0004;
        border-top: 1px solid #0009;      
        }
    .letterggoogl{
        position: inherit;
    color: #fff;
    top: 11px;;
    margin: -52px -12px;
    padding: 22px 0px;
    font-family: normal;
    font-size: 1.6em;
    }
    
    .letterggoogl img{
    height: 20px;
    width: 21px;
    scale: 1.3;
    position: relative;
    top: 3px;
    right: 12px;
    }

    @media (max-width: 960px) {
        .keyboard {
            transform: scale(0.5); /* Scale down further for smaller screens */
            top: 150px;
        }}
    @media (max-width: 726px) {
        .keyboard {
            transform: scale(0.5); /* Scale down further for smaller screens */
            top: 150px;
        }
        #textarea{
            transform: scale(0.8);
        }
    }